header{
    background-color: rgba(188, 39, 39, 0.696);
    width:100%;
    position:fixed;
    top:0px;
    line-height:center;
    height:70px;

}
.header-contents{
    width:90%;
    margin:0 auto;
}

.header-left{
    float:left;

}
.header-right{
    float:right;
    margin-top:20px;
}
.header-right:hover{
    opacity:0.8;
    background-color:chartreuse;
}
.main-wrapper{
    height:300px;
    width:100%;
    margin-top:80px;
}
.container{
    width:80%;
    margin:0 auto;
}
.contents-img{
    display:inline-block;
}
.contents-write p{
    display:inline-block;
    border-bottom:1px solid;
    padding-bottom:30px;
}
.form-wrapper{
    margin-top:300px;
}
footer{
    height:50px;
    margin-top:100px;
    background-color:antiquewhite;
    padding:10px;
    text-align:center;
}
.footer-left{
    float:left;
}
.footer-right{
    float:right;
}
